

html, body {
   height:100% ;
   width:50% ;
   background-color:#02022c ;
   color: white;
   text-align: center;
   padding: 50px;

}

h1, h2 {
  font-family: monospace;
  font-weight: bold;
  color: white;
}

img {
  width: 50px;
}
